<%- include('partials/header', {title: "Filtered"}); -%>

<div class="container">
    <div class="jumbotron jumbotron-fluid jumbotron--home">
        <div class="jumbotron--text container px-5">
            <h2 class="display-5">Grab a coffee near you</h2>
            <a href="/shops"><button type="button" class="btn btn-light">View coffee shops</button></a>
        </div>
    </div>
</div>

<%- include('partials/footer'); -%>