<%- include('../partials/header', {title: "Index Page"}); -%>

<h1>All the coffee is here</h1>
<div class="container">
    <div class="row">
        <!-- Loop through shop array -->
    </div>
</div>


<%- include('../partials/footer'); -%>